.containerr{
  margin: 22px;
  box-sizing: border-box;
}
body{
  background: #10141e;
}
.scroll{
  overflow: hidden;
  position: absolute;
}

.scroll-bar-hide::-webkit-scrollbar {
  display: none;
}

.scroll-bar-hide {
  -ms-overflow-style: none;  
  scrollbar-width: none;   
}


/* Keyframes for horizontal scrolling */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.scrolling-container {
  display: flex;
  overflow: hidden;
  white-space: nowrap; 
}

.scrolling-content {
  display: flex;
  gap: 50px;
  animation: scroll 500s linear infinite;
}
